<% unread = room.notifications_as_room.where(type: MessageNotification.name, recipient: @current_user).unread %>

<% if unread.count > 0 %>
   <p class="mt-1">
        <span class="text-white bg-green-500 py-1 px-2 rounded-full font-custom-4"><%= "#{unread.count}" %></span>
    </p>  
<% end %>