<% unread = room.notifications_as_room.where(type: MessageNotification.name, recipient: current_user).unread %>

<% if unread.count > 0 %>
   <p class="text-xs text-gray-300 mt-1">
        <span class="text-white bg-green-500 py-1 px-2 rounded-full"><%= "+#{unread.count}" %></span>
    </p>  
<% end %>