<div class="flex m-2 justify-between">
    <%= turbo_frame_tag dom_id(room) do %>
        <h2><%= link_to room.name, room, data: { turbo: "false" } %></h2>
    <% end %>

    <%= render "rooms/notifications", room: room  %>
    <%= render "rooms/joinable_link", room: room  %>
</div>